article {
  margin-top: 40px;
  border-style: solid;
  border-color: darkgray;
}

article:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.fa-solid.fa-flag:hover,
.fa-solid.fa-retweet:hover,
.fa-solid.fa-heart:hover {
  color: #e1c16e;
}

.tweet-header {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.username {
  color: lightgray;
  /* align-self: flex-end; */
}

.tweet-content {
  padding: 10px;
  margin: 15px;
}

.left-header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.tweet-footer {
  margin: 20px;
  display: flex;
  justify-content: space-between;
  border-top: solid darkgray;
  border-top-width: thin;
  font-size: smaller;
}
